

  .row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 5rem 0;
  }
  /* main h1{
    font-family: "Courgette";
    text-align: center;
    margin-bottom: 2rem;
  } */
  

  .menu__link:hover li:nth-child(3){
     cursor: not-allowed;
  }
    
  /* Galery content */
  .galery__container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap:50px;
    align-items: center;
    justify-content: center;
    transition: scale 300ms ease;
  }
  .recent{text-align: center;font: 1.85rem; margin-bottom: 18px;}
.single__galery{
    width: calc(100%/4);
}
.single__galery img{width: 100%;
    height: 350px;
    border-radius: 3px;
}
.galery__container :hover.single__galery{
    transform: scaleY(0.9);
    cursor: pointer;
}


      /* MEDIA QUARY  */
      @media only screen and (max-width: 768px) {
        .single__galery{
          width: 100%;
          padding:0 12px;
        }
       
      }


     