@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  overflow-x: hidden; /* Prevents horizontal scrolling */
}

.container {
  width: min(90%, 1120px);
  margin-inline: auto;
}

.desktop__menu .logo img {
  width: 100%;
  max-width: 150px;
  height: 4.85rem;
  border: none;
  vertical-align: middle;
  border-radius: 8px;
}
.desktop__menu {
  background-color: transparent;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0.625rem;
  font-family: "Poppins", sans-serif;
  position: fixed;
  cursor: pointer;
  padding: 1.2rem;
}
.fa-grip-lines {
  display: none;
}
.mobile__menu {
  display: none;
}
.menu__link {
  display: flex;
}
.menu__list {
  list-style: none;
  margin-left: 3.5rem;
}
.menu__list a {
  text-decoration: none;
  color: white;
  font-size: 0.878rem;
}
.social__media {
  color: white;
  display: flex;
  gap: 0.625rem;
}

nav .menu__link .menu__list:hover a {
  color: rgb(238, 62, 62);
}
.hero {
  height: 100vh;
  padding-top: 1rem;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 20, 0.7));
}
.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  margin-top: 2rem;
}
.hero .fa {
  display: none;
}
.hero span {
  font-family: "Courgette";
  font-size: 3.75rem;
  line-height: 1.1;
  color: lime;
}
.hero h2 {
  font-family: "Poppins", sans-serif;
  font-size: 4.375rem;
  font-weight: 700;
  line-height: 1.1;
  text-transform: capitalize;
  letter-spacing: 0.625rem;
  word-spacing: 0.625rem;
  color: white;
  margin: 1.675rem 0;
}
.hero__btn {
  width: 8.4375rem;
  display: inline-block;
  height: 2.5rem;
  font-size: 0.65rem;
  margin-bottom: 4.375rem;
  font-weight: 400;
  font-family: "Poppins";
  height: 3.5rem;
  width: 100%;
  max-width: 14rem;
  align-content: center;
  background-color: transparent;
  color: rgb(72, 172, 15);
  border: 1px solid #fff;
  padding: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  margin-top: 0.876rem;
}

.container :hover.hero__btn {
  background-color: rgb(172, 117, 15);
  color: white;
}

/* REUSABLE */
.reusable__h2 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  color: #222222;
  text-transform: uppercase;
  letter-spacing: 6px;
  position: absolute;
  left: 13%;
  margin-bottom: 2rem;
}

/* MOBLE MENU */
.mobile__menu {
  width: 100%;
  max-width: 28.125rem;
  height: 100vh;
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  background: #fff;
  right: 0;
  text-align: center;
  z-index: 100;
  position: fixed;
}

.mobile__menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  gap: 1.75rem;
}
.mobile__menu ul a {
  color: black;
}
.mobile__menu .reservation__btn {
  display: inline;
  margin-left: 2.5rem;
  background-color: black;
  width: 8.4375rem;
  height: 2.5rem;
  font-size: 0.75rem;
  font-weight: 400;
  font-family: "Montserrat";
  border-radius: 0.625rem;
  position: relative;
  color: white;
  margin-bottom: 1rem;
}

/* open icon  */
.modal__open {
  font-size: 1.2rem;
}
/* close icon */
.modal__close {
  color: rgb(49, 48, 48);
  font-size: 1.75rem;
  position: absolute;
  top: 1.25rem;
  right: 3.75rem;
  cursor: pointer;
}
.mobile__menu :hover.modal__close {
  color: red;
}

.mobile__menu .reservation__btn:hover {
  background-color: red;
}

/* MOBILE GALERY */

.galary__title {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.125rem;
  color: #222222;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 1rem 0;
}
.galary__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px 100px;
  padding: 0 4.125rem;
}
.galary__items {
  background: rgb(191, 230, 173);
  padding: 2.25rem;
  margin: 0.25rem;
  cursor: pointer;
}
.galary__items.item1 {
  background-image: url("./assets/galery1.jpg");
  background-size: cover; /* Ensures the image covers the entire element */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}

.galary__items.item2 {
  background-image: url("./assets/galery9.jpg");
  background-size: cover; /* Ensures the image covers the entire element */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}

.galary__items.item3 {
  background-image: url("./assets/galery19.jpg");
  background-size: cover; /* Ensures the image covers the entire element */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}
.galary__items.item4 {
  background-image: url("./assets/galery4.jp.jpg");
  background-size: cover; /* Ensures the image covers the entire element */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}
.galary__items.item5 {
  background-image: url("./assets/galery14.jpg");
  background-size: cover; /* Ensures the image covers the entire element */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}
.galary__items.item6 {
  background-image: url("./assets/galery20.jpg");
  background-size: cover; /* Ensures the image covers the entire element */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}

/* Feature Section */
#feature {
  /* background-color: #EFEEDE; */
  background-color: #efefef;
}
.title-text {
  text-align: center;
  padding: 70px 0;
}
.title-text p {
  margin: auto;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: #009688;
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: inline-block;
}

.title-text p::after {
  content: "";
  width: 50px;
  height: 35px;
  position: absolute;

  background: linear-gradient(#228d0d, #e0ebe9);
  top: -20px;
  left: 0;
  z-index: -1;
  transform: rotate(10deg);
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
}
.title-text--h2 {
  font-size: 1.5rem;
  color: rgb(22, 30, 32);
  font-family: "Courgette";
}

.fearure__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
  padding: 1.875rem;
}
.feature__content {
  width: 100%;
  max-width: 350px;
  padding: 2rem;
  /* box-shadow:  0 5px 8px rgba(0, 0, 0, 0.2); */
  border-radius: 8px;
  text-align: center;
}

.feature__icon {
  width: 100%;
  height: 200px;
  width: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 12px;
  background-color: #09271e;
  color: #27df13;
  font-size: 2rem;
  margin-bottom: 24px;
}
.feature__icon .fa {
  font-size: 3rem;
}
.feature__subtitle {
  font-size: 1.375rem;
  font-weight: 500;
  font-family: "Poppins";
  line-height: 1.5;
  color: #1bb622;
}
.feature__subtitle {
  margin-top: 1rem;
}
.feature__pra {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.9;
  color: #666666;
  cursor: pointer;
}
.feature__icon:hover .fa {
  cursor: pointer;
  color: rgb(219, 96, 96);
  transform: scale(1.2);
}

/* service section */
.service__bacground--img {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 20, 0.7)),
    url("./assets/bg-intro-01.jpg.webp");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
}
.service {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7rem 0;
  text-align: center;
}
.service__title {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 3.25rem;
  line-height: 1.2;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.375rem;
}
.service__card {
  width: 100%;
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}
.service__cards {
  width: 100%;
  padding: 5.25rem 2rem 2rem 3rem;
}

.service__cards img {
  width: 100%;
  max-width: 450px;
  height: 220px;
  border-radius: 12px;
  margin-bottom: 1.2rem;
  transition: transform 0.3s ease-in-out;
}
.service__cards img:hover {
  transform: scale(0.9);
}
.reusable__span {
  font-family: "Courgette";
  /* color:rgb(214, 28, 34); */
  color: #83ac11;
  font-size: 1.5rem;
}
.sub__title {
  font-size: 1.375rem;
  font-weight: 500;
  font-family: "Poppins";
  line-height: 1.5;
  color: #11ac38;
}
.service__cards .more__info {
  color: rgb(156, 118, 13);
  font-size: 1rem;
}

i.fa-arrow-right {
  color: rgb(22, 21, 21);
}
.service__cards p {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.9;
  color: #666666;
  cursor: pointer;
}
/* About section */
#about {
  background-color: #f5f2ec;
}
.about__content {
  padding: 5rem 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__content h3 {
  color: rgb(63, 65, 60);
  font-family: "poppins";
}
.about__content p {
  width: 100%;
  max-width: 600px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.9;
  color: #312f2f;
  cursor: pointer;
  margin-top: 1rem;
}
.clent_-msg {
  text-align: center;
  margin: 5rem 0;
  font-family: "Courgette";
  font-weight: 900;
  font-size: 2rem;
}
.client__content {
  padding: 3rem 0;
  position: relative;
}
.client__container h2 {
  margin-bottom: 6rem;
  text-align: center;
  padding: 2rem 0;
}

.client__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  gap: 1rem;
}
.siingle__client {
  width: 100%;
  max-width: 25rem;
  height: 18.75rem;
  display: flex;
  flex-direction: column;
  border: 2px solid #e6e6e6;
  border-radius: 0.5rem;
  padding: 2rem 0;
  position: relative;
}

.client__content :hover {
  transform: scale(0.9);
  cursor: pointer;
}
.client__img {
  position: absolute;
  top: -3.75rem;
  left: 6.875rem;
  z-index: 3;
  border: 2px solid lime;
  background-color: rgb(67, 68, 67);
  border-radius: 50%;
}
.client__img img {
  width: 100%;
  max-width: 6.875rem;
}
.client__description {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.client__name {
  margin-top: 2.2rem;
  margin-left: 9rem;
  color: #413e3e;
}
.client__description p {
  width: 100%;
  max-width: 300px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.7;
  color: #413e3e;
  text-align: center;
  margin-left: 2rem;
  margin-top: 2rem;
}

/* Footer section */
.footer__container {
  background: #222222;
  padding: 5rem 0;
}
.footer__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.single__footer--content {
  width: calc(100% / 3);
}
.footer__container h2 {
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 2rem;
}
.single__footer--content {
  padding: 0 3rem;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 13px;
  color: #999999;
  line-height: 1.7;
}
.social__icons .fa {
  padding: 1.2rem 0;
}
.single__footer--content .galary__items {
  padding: 3rem;
}
.red {
  color: red;
}
.copyright {
  height: 5.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  background: #000;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: #999999;
  padding-top: 0.95rem;
}
.copyright p :hover {
  color: red;
  cursor: pointer;
}
.copyright img {
  height: 3.25rem;
  border-radius: 5px;
  filter: invert();
}

/* Contact form */
header {
  position: relative;
}

.myenvolope {
  position: absolute;
  top: 93%;
  right: 2%;
  bottom: 0;
  position: fixed;
  z-index: 11;
}
.fa-envelope {
  color: rgb(10, 123, 228);
  font-size: 2rem;
}
#formModel {
  display: none;
}
.contents {
  position: absolute;
  z-index: 111;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  display: flex;
  padding: 3.125rem;
  position: fixed;
  border-radius: 5px;
}

.left-side {
  display: flex;
  flex-direction: column;
  height: 500px;
}
.left-side--title {
  margin-bottom: 20px;
  font-size: 1.2rem;
  margin-left: 35px;
}

.address--details {
  margin-bottom: 40px;
  padding: 12px;
  color: rgb(129, 139, 129);
}
.left-side,
.right-side {
  padding: 20px;
  flex: 1;
}
.address--details i {
  color: blue;
  font-size: 1.5rem;
  margin-right: 5px;
}
.right-side {
  height: 500px;
  text-align: center;
}
.right-side h5 {
  padding: 8px;
  margin-bottom: 5px;
  font-size: 1.26rem;
  color: blue;
}

.addresses topic i {
  color: rgb(58, 58, 180);
  font-size: 1.25rem;
  padding: 8px 2px;
  margin-right: 12px;
}

.big {
  font-size: 0.85rem;
  font-weight: bold;
}

.details {
  color: rgb(106, 114, 114);
  font-size: 0.95rem;
  margin-left: 10px;
}

.right-side--title h2 {
  color: rgb(58, 58, 180);
  text-decoration: underline;
  margin-bottom: 10px;
}

.right-side--sub-title {
  margin: 12px 0;
}

#contact__form .input__box {
  margin-bottom: 15px;
}

#contact__form .input__box input,
#contact__form .input__box textarea {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  background-color: rgb(241, 245, 245);
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box; /* Ensure padding is included in the width calculation */
}
#contact__form .input__box textarea {
  resize: vertical;
  /* height: 100%;
  max-height: 100px; */
}

::placeholder {
  color: rgb(65, 122, 59);
  opacity: 0.5; /* Firefox */
}
/* put frame on the form */
.right-side {
  width: 100%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.9);
}

#contact__form .form__btn {
  width: 100%;
  max-width: 350px;
  height: 50px;
  padding: 8px;
  background-color: rgb(58, 58, 180);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.cancel__form {
  position: absolute;
  right: 20px;
  top: 3px;
  font-size: 1.2rem;
  padding: 5px;
  cursor: pointer;
}
.cancel__form:hover {
  color: red;
}
.right-side i {
  font-size: 1.85rem;
}

/* Header Media Quary */
@media (max-width: 48rem) {
  .desktop__menu {
    width: 100%;
    flex-wrap: wrap;
    padding: 0.96rem;
  }
  .desktop__menu .menu__link {
    width: 100%;
    display: none;
  }
}

/* header mediaquary */

@media (max-width: 48rem) {
  .desktop__menu {
    width: 100%;
    flex-wrap: wrap;
  }
  .desktop__menu .menu__link {
    width: 100%;
    display: none;
  }
  .hero {
    padding: 3rem 0;
  }
  .hero__container h2{
    width: 100%;
  }
  .hero .subtitle {
    font-weight: 400;
  }
  .hero h2 {
    width: 100%;
    font-size: 2.1rem;
  }
  .fa-grip-lines {
    display: block;
  }
}
/* Feature & Servives Media quary */
@media (max-width: 48rem) {
  .fearure__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .feature__content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .feature__icon {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .feature__pra {
    font-size: 1rem;
    color: black;
  }
  .service__card {
    display: flex;
    flex-direction: column;
  }
  .service__cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
  }
  .service__cards img {
    width: 100%;
  }
  .service__cards p {
    color: #000000;
    font-size: 1rem;
  }
}
/* About section */
@media (max-width: 48rem) {
  .client__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
  }
  /* .client__img {
    border: 2px solid lime;
    background-color: rgb(49, 53, 49);
    

  } */
  .siingle__client {
    width: 100%;
    margin: 2rem 0;
  }
  .siingle__client p {
    width: 100%;
    max-width: 600px;
    font-size: 1rem;
    font-weight: 500;
  }
  .about__container h2 {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
  }

  .clent_-msg {
    width: 100%;
    max-width: 430px;
    padding: 0 1rem;
  }
}

/* FOOTER MEDIA QUARY */
@media (max-width: 48rem) {
  .footer__container {
    width: 100%;
    /* flex-direction: column; */
  }
  .single__footer--content {
    width: 100%;
    max-width: 43.75rem;
    justify-content: center;
    align-items: center;
  }
  .copyright {
    width: 100%;
    padding: 0.67rem;
  }
  .copyright__text {
    font-size: 0.67rem;
  }
  .single__footer--content .galary__container {
    padding: 0;
  }
  .galary__container {
    width: 100%;
    max-width: 1200px;
  }
  .galary__items {
    padding-right: 2rem;
    float: left;
  }
}

/* changing navbar colors when scrolling */
.navColor {
  background: rgb(32, 31, 31);
  opacity: 0.9;
  border-bottom: 1px solid lightgray;
  position: fixed;
  top: 0;
  z-index: 11;
}

/* Form Media Quary */
@media (max-width: 48rem) {
  .main__content {
    text-align: center;
  }
  .contents {
    max-width: 75rem;
    padding-right: 4rem;
    flex-direction: column-reverse;
    position: relative;
   
    left: 0;
    right: 0;
    top: 80px;
    bottom: 20rem;
    position: fixed;
    z-index: 111;
  }

  .right-side {
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color:#3e3e44;
  }
  .left-side {
    display: none;
    /* width: 100%;
    word-wrap: break-word;
    height: 100%;
    max-height: 200px;
    font-size: 0.85rem; */
  }
  .left-side--title.left-side--title {
    margin-bottom: 5px;
    text-align: center;
    max-width: 540px;
    height: 100%;
    max-height: 200px;
    font-size: 0.65rem;
  }
  .address--details {
    height: 100%;
    max-height: 200px;
    text-align: center;
    font-size: 0.95rem;
    margin: 0;
    gap: 0;
  }
  .address--details i,
  span {
    font-size: 0.8rem;
    margin: 0;
  }
  #contact__form {
    width: 100%;
    padding-right: 5px;
  }
  .right-side h5{
    color: rgb(178, 212, 26);
  }
  #contact__form .form__btn{
    color: rgb(178, 212, 26);
  }
  .cancel__form{
    right: 20px;
    top:20px;
    color: red;
  }
}
